:host {
  .app-header {
    font-size: 1em;
    background: #343b3f;
    color: white;
    padding: 0.5em;
    border-bottom: solid 1px black;
    text-align: center;
    font-style: italic;

    .app-logo {
      position: absolute;
      right: 1em;
      top: 0.4em;
      z-index: 100;
      width: 8em;
    }
  }

  .navigation-wrapper {
    height: calc(100vh - 5em);
    border-right: solid 1px black;
  }
}
