<div class="row">
  <div class="col-md-12 app-header">
    <img class="app-logo" src="https://miro.medium.com/max/994/1*AxcybVXrY6Yq9kseG0dMiQ.png" alt="">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Angular Unit Tests Tips And Tricks App 🚀</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item" [routerLink]="'/home'" [routerLinkActive]="'active'">
            <a class="nav-link">Home 🏡<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" [routerLink]="'/employees'" [routerLinkActive]="'active'">
            <a class="nav-link">Employees 👨🏻‍💻</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <router-outlet></router-outlet>
  </div>
</div>
